:root{
    --purple-gifos: #572EE5;
    --purple-movile: #572EE5;
    --default-background: white;

}
body{
    hr{
        height: 5px;
        width: 100%;
        color: black;
    }
}

header{
    padding: 7% 7% 0% 7%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    a{
        margin-top: 3%;
    }
    nav{
        .menu{
            z-index: 999;
            img{
                margin-top: 13px;
            }

            ul{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin-top: 12%;                
                width: 100%;
                position: absolute;
                top: 45px;
                right: 0;
                overflow: hidden;
                list-style: none;
                background: var(--purple-movile);
                filter:alpha(opacity=90);
                -moz-opacity:.90;
                opacity:.90;
                height: 0px;
                transition: height 0.5s ease;
                img{
                    display: none;
                }
                hr{
                    height: 1px;
                    width: 40px;
                    text-align: center;
                    display: flex;
                    filter:alpha(opacity=90);
                    -moz-opacity:.90;
                    opacity:.90;
                }
                li{
                    position: relative;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    width: 100%;
                    &:hover{
                        background:blue;
                    }
                    a{
                        position: relative;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        padding: 16px 5%;
                        line-height: 28px;
                        display: flex;
                        font-weight: 500;
                        margin: auto;
                        &:hover{
                            color: #fff;
                        }
                        
                    }

                }
            }
            input[type="checkbox"]{
                &:checked ~ ul{
                    margin-top: 12%;
                    height: 100%;
                    transition: height 0.5s ease-in-out;
                    -moz-transition: height 0.5s ease-in-out;
                    -o-transition: height 0.5s ease-in-out;
                    -webkit-transition: height 0.5s ease-in-out;
                }
            }
            padding-top: 3px;
            input{
                display: flex;
                width: 40px;
                height: 32px;
                opacity: 0;
                z-index: 2;
                position: absolute;
            }
            
            input:checked ~ img{
                content: url("../assets/close.svg");
            }
        }
    }
}
@media screen and (min-width: 720px){
    header{
        flex-flow: row wrap;
        padding-top: 1%;
        nav{
            
            .menu{
                padding: unset;
                ul{
                    margin-top: 7%;
                    flex-flow: row wrap;
                    position: relative;
                    top: 0;
                    right: 0;
                    overflow: hidden;
                    background: unset;
                    height: unset;
                    hr{
                        display: none;
                    }
                    li{
                        
                        width: unset;
                        padding: unset;
                        display: inline-flex;
                        &:hover{
                            background: unset;
                            color: $green-gifos;
                        }
                        a{
                            padding-top: unset;
                            padding: 0px 0px 10px 25px;
                            font-weight: 700;
                            line-height: unset;
                            color: var(--purple-gifos);
                            &:hover{
                                color: unset;
                                
                            }
                        }
                    }
                    img{
                        margin: 0px 0px 15px 20px;
                        display: flex;
                        &:hover{
                            content: url("../assets/CTA-crear-gifo-hover.svg");
                        }
                    }
                }
                input{
                    display: none;
                }
                img{
                    
                    display: none;
                }
            }
        }
    }
}