@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/** TAMAÑOS **/
/** COLORES **/
body hr {
  height: 5px;
  width: 100%; }

header {
  padding: 7% 7% 0% 7%;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  header nav .menu {
    z-index: 999;
    padding-top: 3px; }
    header nav .menu img {
      margin-top: 13px; }
    header nav .menu ul {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 12%;
      width: 100%;
      position: absolute;
      top: 45px;
      right: 0;
      overflow: hidden;
      list-style: none;
      background: #572EE5;
      filter: alpha(opacity=90);
      -moz-opacity: .90;
      opacity: .90;
      height: 0px;
      transition: height 0.5s ease; }
      header nav .menu ul img {
        display: none; }
      header nav .menu ul hr {
        height: 1px;
        width: 40px;
        text-align: center;
        display: flex;
        filter: alpha(opacity=90);
        -moz-opacity: .90;
        opacity: .90; }
      header nav .menu ul li {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%; }
        header nav .menu ul li:hover {
          background: blue; }
        header nav .menu ul li a {
          position: relative;
          text-decoration: none;
          color: white;
          padding: 16px 5%;
          line-height: 28px;
          display: flex;
          font-weight: 500;
          margin: auto; }
          header nav .menu ul li a:hover {
            color: #fff; }
    header nav .menu input[type="checkbox"]:checked ~ ul {
      margin-top: 12%;
      height: 100%;
      transition: height 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out;
      -webkit-transition: height 0.5s ease-in-out; }
    header nav .menu input {
      display: flex;
      width: 40px;
      height: 32px;
      opacity: 0;
      z-index: 2;
      position: absolute; }
    header nav .menu input:checked ~ img {
      content: url("../assets/close.svg"); }

@media screen and (min-width: 720px) {
  header {
    flex-flow: row wrap;
    padding-top: 1%; }
    header nav .menu {
      padding: unset; }
      header nav .menu ul {
        margin-top: 7%;
        flex-flow: row wrap;
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset; }
        header nav .menu ul hr {
          display: none; }
        header nav .menu ul li {
          width: unset;
          padding: unset;
          display: inline-flex; }
          header nav .menu ul li:hover {
            background: unset;
            color: #50E3C2; }
          header nav .menu ul li a {
            padding-top: unset;
            padding: 0px 0px 10px 25px;
            font-weight: 700;
            line-height: unset;
            color: #572EE5; }
            header nav .menu ul li a:hover {
              color: unset; }
        header nav .menu ul img {
          margin: 0px 0px 15px 20px;
          display: flex; }
          header nav .menu ul img:hover {
            content: url("../assets/CTA-crear-gifo-hover.svg"); }
      header nav .menu input {
        display: none; }
      header nav .menu img {
        display: none; } }
main {
  display: flex;
  flex-flow: column wrap;
  /** ESTILOS HOME **/
  /** FINISH ESTILOS HOME **/
  /** ESTILOS BUSQUEDA **/
  /** FINISH ESTILOS BUSQUEDA **/
  /** ESTILOS FAVORITOS **/
  /** FINISH ESTILOS FAVORITOS**/
  /** ESTILOS COMUNES **/
  /** FINISH ESTILOS COMUNES **/ }
  main #Home {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 480px; }
    main #Home h2 {
      color: #572EE5;
      text-align: center;
      padding: 8% 8% 0% 8%; }
    main #Home .color-home {
      color: #50E3C2; }
    main #Home img {
      display: flex;
      align-self: center;
      padding-top: 7%;
      width: 273px; }
    main #Home input {
      border: 1px solid #572EE5;
      border-radius: 27px;
      height: 50px;
      width: 90%;
      margin-left: 5%;
      padding-left: 11%; }
    main #Home .search {
      display: flex;
      width: 20px;
      margin: -18% 0% 0% 70%;
      z-index: 2; }
    main #Home h4 {
      padding-top: 15%;
      font-weight: 700;
      color: #572EE5;
      display: flex;
      align-self: center; }
    main #Home p {
      margin: 5% 20% 0% 20%;
      text-align: center;
      font-size: 14px;
      color: #572EE5;
      line-height: 25px; }
  main #Busqueda {
    display: flex;
    flex-flow: column wrap;
    width: 100%; }
    main #Busqueda h2:first-child {
      display: none; }
    main #Busqueda .ilustra {
      display: none; }
    main #Busqueda h2 {
      color: #572EE5;
      text-align: center;
      padding: 15% 8% 0% 8%; }
    main #Busqueda img {
      display: flex;
      align-self: center;
      padding-top: 7%;
      width: 10%; }
    main #Busqueda #img-inicio {
      display: flex;
      align-self: center;
      padding-top: 7%;
      width: 273px; }
    main #Busqueda #img-busqueda-sin-resultados {
      width: 30%;
      margin-bottom: 3%;
      margin-top: 10%; }
    main #Busqueda div {
      padding-left: 6%; }
      main #Busqueda div img {
        margin-left: 15px;
        margin-bottom: 15px;
        display: unset;
        width: 40%; }
        main #Busqueda div img:hover {
          filter: contrast(100%) sepia(1) hue-rotate(220deg) saturate(1000%); }
    main #Busqueda .ver_mas {
      display: flex;
      align-self: center; }
      main #Busqueda .ver_mas img {
        margin: 50px 0px 60px 0px;
        display: flex;
        width: 127px;
        padding: unset; }
        main #Busqueda .ver_mas img:hover {
          content: url("../assets/CTA-ver-mas-hover.svg"); }
    main #Busqueda input {
      border: 1px solid #572EE5;
      border-radius: 27px;
      height: 50px;
      width: 90%;
      margin-top: 15%;
      margin-left: 5%;
      padding-left: 11%; }
    main #Busqueda .search {
      display: flex; }
      main #Busqueda .search img {
        padding: unset;
        margin-left: 80%;
        margin-top: -20%;
        display: flex;
        width: 20px;
        z-index: 2; }
    main #Busqueda h4 {
      margin-top: 5%;
      font-weight: 700;
      color: #572EE5;
      display: flex;
      align-self: center; }
    main #Busqueda p {
      margin: 5% 20% 0% 20%;
      text-align: center;
      font-size: 14px;
      color: #572EE5;
      line-height: 25px; }
    main #Busqueda hr {
      margin-top: 10%;
      align-self: center;
      height: 1px;
      width: 157px;
      text-align: center;
      display: flex;
      opacity: .50; }
    main #Busqueda h5 {
      color: #50E3C2;
      font-size: 1.14em;
      line-height: 33px;
      width: 431px;
      text-align: center;
      align-self: center;
      margin-bottom: 18%; }
    main #Busqueda #casilla-busqueda {
      margin: unset;
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center; }
      main #Busqueda #casilla-busqueda input {
        margin: unset;
        align-self: center; }
      main #Busqueda #casilla-busqueda img {
        margin: unset;
        padding: unset;
        position: absolute;
        margin-left: -7%; }
  main #Favoritos {
    display: flex;
    flex-flow: column wrap;
    width: 100%; }
    main #Favoritos img {
      padding-top: 10px; }
    main #Favoritos h3 {
      padding: 10px 0px 40px 0px;
      color: #572EE5;
      text-align: center; }
    main #Favoritos #img-favoritos-sin-contenido {
      margin-top: 7.7%;
      margin-bottom: 3%; }
    main #Favoritos #img-mis-gifos-sin-contenido {
      margin-top: 7.7%;
      margin-bottom: 3%; }
    main #Favoritos h4 {
      color: #50E3C2;
      font-size: 1.14em;
      line-height: 33px;
      width: 431px;
      text-align: center;
      align-self: center;
      margin-bottom: 18%; }
    main #Favoritos div {
      padding-left: 6%; }
      main #Favoritos div img {
        margin-left: 15px;
        margin-bottom: 15px;
        display: unset;
        width: 40%; }
    main #Favoritos .ver_mas {
      display: flex;
      align-self: center; }
      main #Favoritos .ver_mas img {
        margin: 50px 0px 60px 0px;
        display: flex;
        width: 127px;
        padding: unset; }
        main #Favoritos .ver_mas img:hover {
          content: url("../assets/CTA-ver-mas-hover.svg"); }
  main #inchange {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #F7F7F7; }
    main #inchange h3 {
      padding-top: 20%;
      display: flex;
      text-align: center;
      color: #572EE5;
      font-weight: 700; }
    main #inchange p {
      padding-top: 5%;
      text-align: center;
      margin-bottom: 7%; }
  main .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3;
    display: none; }
  main .popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90%;
    height: auto;
    z-index: 4;
    text-align: center;
    padding: 20px;
    align-self: center; }
    main .popup .content h3 {
      text-align: justify;
      margin-left: 2%;
      font-size: 1em; }
    main .popup .content h2 {
      text-align: justify;
      font-size: 1.2em; }
  main .popup .close-btn {
    position: absolute;
    right: 5%;
    top: -40px;
    cursor: pointer; }
  main .popup section {
    display: flex;
    justify-content: space-between; }
    main .popup section #icons-gif-max {
      display: flex;
      align-items: center;
      margin-right: 3%; }
      main .popup section #icons-gif-max #gif-max-download {
        margin-left: 30%; }
  main .popup.active .overlay {
    display: block; }
  main .popup.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1); }
  main #gif-max {
    width: 100%;
    height: auto; }

@media screen and (min-width: 720px) {
  main #Home {
    height: 550px; }
    main #Home img {
      padding-top: 2%;
      width: 27%;
      height: auto; }
    main #Home .search {
      margin: -4.4% 0% 0% 34%; }
    main #Home h2 {
      padding: 5% 36% 0% 36%; }
    main #Home input {
      margin: unset;
      padding-left: 5%;
      align-self: center;
      width: 38.3%; }
    main #Home h4 {
      padding: 6% 0px 0px 0px; }
    main #Home p {
      margin: unset; }
  main #Busqueda .color-home {
    color: #50E3C2; }
  main #Busqueda .ver_mas {
    margin: 15% 0px 5% 0px;
    padding: unset; }
    main #Busqueda .ver_mas img {
      margin: unset;
      padding: unset; }
  main #Busqueda input {
    margin: unset;
    padding-left: 5%;
    align-self: center;
    width: 38.3%; }
  main #Busqueda h2:first-child {
    display: block;
    color: #572EE5;
    text-align: center;
    padding: 5% 36% 0% 36%; }
  main #Busqueda .color {
    color: #50E3C2; }
  main #Busqueda .ilustra {
    display: flex;
    align-self: center;
    padding-top: 2%;
    width: 27%;
    height: auto; }
  main #Busqueda .search img {
    margin-left: 66%;
    margin-top: -5%; }
  main #Busqueda input {
    margin: unset;
    padding-left: 5%;
    align-self: center;
    width: 38.3%; }
  main #Busqueda h4 {
    display: none; }
  main #Busqueda p {
    display: none; }
  main #Busqueda h2 {
    padding: 6% 8% 0% 8%; }
  main #Busqueda div img {
    margin-top: unset;
    margin-left: 35px;
    width: 20%; }
  main #Busqueda img {
    padding-top: 4%; }
  main #Busqueda hr {
    margin-top: 5%; }
  main #Busqueda #casilla-busqueda img {
    margin-left: -4%; }
  main #Favoritos div img {
    margin-top: unset;
    margin-left: 35px;
    width: 20%; }
  main #Favoritos .ver_mas {
    margin: 15% 0px 5% 0px;
    padding: unset; }
    main #Favoritos .ver_mas img {
      margin: unset;
      padding: unset; }
  main #Favoritos h3 {
    padding: 0px 0px 40px 0px; }
  main #Crear_Gifo {
    width: 100%;
    height: 479px;
    display: flex; }
    main #Crear_Gifo .Contenedor {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 47.8%;
      height: 70%;
      border: 1px solid #572EE5;
      padding: 7.5% 10% 4% 10%; }
      main #Crear_Gifo .Contenedor .tamaño {
        width: 27px;
        height: 25px; }
      main #Crear_Gifo .Contenedor .linea1 {
        display: flex;
        border-left: 3px solid #50E3C2;
        border-top: 3px solid #50E3C2; }
      main #Crear_Gifo .Contenedor .linea2 {
        display: flex;
        margin-left: 90%;
        border-top: 3px solid #50E3C2;
        border-right: 3px solid #50E3C2; }
      main #Crear_Gifo .Contenedor .linea3 {
        display: flex;
        margin-top: 30%;
        border-left: 3px solid #50E3C2;
        border-bottom: 3px solid #50E3C2; }
      main #Crear_Gifo .Contenedor .linea4 {
        display: flex;
        margin-left: 90%;
        margin-top: 30%;
        border-right: 3px solid #50E3C2;
        border-bottom: 3px solid #50E3C2; }
      main #Crear_Gifo .Contenedor h2 {
        text-align: center;
        color: #572EE5; }
      main #Crear_Gifo .Contenedor .color {
        color: #50E3C2; }
      main #Crear_Gifo .Contenedor p {
        text-align: center; }
    main #Crear_Gifo .luz {
      width: 65px; }
    main #Crear_Gifo .camara {
      margin-top: -10%; }
    main #Crear_Gifo .mov {
      margin-left: 15%; }
    main #Crear_Gifo .pelicula {
      margin-left: 4%;
      margin-top: 17%; }
    main #Crear_Gifo .pasos {
      width: 32px;
      margin-top: 17%;
      margin-left: -6%; }
    main #Crear_Gifo .movp {
      margin-left: -31%; }
    main #Crear_Gifo img {
      width: 110px; }
    main #Crear_Gifo .create {
      margin-top: 440px;
      margin-left: -440px; }
      main #Crear_Gifo .create:hover {
        content: url("../assets/CTA-comenzar-hover.svg"); }
    main #Crear_Gifo .hr_gifos {
      width: 53%;
      height: 7px;
      border-radius: 10px;
      margin-top: 26%;
      margin-left: -25%; }
  main #inchange {
    height: 750px; }
    main #inchange h3 {
      padding-top: unset;
      margin-top: 5%; }
    main #inchange p {
      padding-top: 1%;
      width: 100%; }
    main #inchange br {
      display: none; }

  .popup .close-btn {
    right: 35%;
    top: -40px; }
  .popup #container-section-popup {
    display: flex;
    justify-content: center; }
  .popup section {
    width: 100%; }

  #gif-max {
    width: 10%; } }
@media screen and (min-width: 1200px) {
  main #Busqueda #casilla-busqueda img {
    margin-left: -3%; }
  main .popup .close-btn {
    right: 35%;
    top: -40px; }
  main .popup #container-section-popup {
    display: flex;
    justify-content: center; }
  main .popup section {
    width: 30%; }
  main #gif-max {
    width: 30%; } }
footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  footer p {
    padding-top: 10%; }
  footer div img {
    margin-left: 10px;
    margin-top: 25px; }
  footer .facebook:hover {
    content: url("../assets/icon_facebook_hover.svg"); }
  footer .twitter:hover {
    content: url("../assets/icon-twitter-hover.svg"); }
  footer .Instagram:hover {
    content: url("../assets/icon_instagram-hover.svg"); }

@media screen and (min-width: 720px) {
  footer {
    flex-flow: row wrap;
    padding: 0% 10% 0% 10%;
    justify-content: space-between; }
    footer p {
      padding: unset; }
    footer div {
      align-items: center;
      display: flex; }
      footer div a {
        margin-bottom: 14%; } }

/*# sourceMappingURL=style.css.map */
